body { /* Comment */
  margin: 0;
}

.test {
  font-family: "Test";
  /* Comment */
}

@media (min-width: 900px) {
  .test, .test2 {
    color: red;
  }

  .test:hover {
    color: green;
  }
}
/* Comment */